// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-items{
  background-color: #1367a2;
  width: 280px;
  height: 80px;
  border-radius: 5px;
  list-style: none;
  color: white;
  margin: 10px;
  display: flex;
  padding: 10px;
  word-break: break-all;
  text-decoration: none;
}
.board-items a{
  text-decoration: none;
}
.other-board-index{
  background-color: white;
  position: absolute;
  top:40px;
  height: 100vh;
}
li{
}
.board-index-div{
}
.board-index-outer{
  margin: 0 auto;
  clear: both;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.create-list{
  width: 280px;
  height: 80px;
  margin-left: 10px;
  border-radius: 4px;
}
a{
  text-decoration: none;
}
.create-board-items{
  background-color: grey !important;
}
li{
  list-style: none;
}
.create_board_form{
  font-size: 18px;
  background-color: white;
  border: 1px solid #d6dadc;
  color: #838c91;
  width: 320px;
  height: 300px;
  left: 50px;
}
.create_board_form p{
  border-bottom: 1px solid #d6dadc;
  padding-bottom: 20px;

}
.dropdown-create{
  position: relative;
  top: 0;
  left: -112px;
  margin-top: -18px;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  border: 1px solid #D6DADC;
}
.dropdown-create p{
  padding-left: 10px;
  padding-top: 10px;
}
.board-items-cont{
  background-color: #e2e4e6 !important;
  color: #838c91;
}
.edity{
  background-color: #237abf;
  width: 300px;
  height: 40px;
  position: fixed;
  left: 0;
  height: 20px;
  color: white;
  margin-left: 20px;
}
.blue{
  background-color: #237abf;
  height: 100vh;
  width: 100vw;
}
.board-show-container{
  display: flex;
  justify-content: space-between;
}
.background-board-show{
  height: calc(100vh - 40px);
  width: max-content;
  padding-top: 40px;
  background-color: #237abf;

}
.delete{
  position:fixed;
  right:0;
  color: white;
  text-decoration: underline;
  margin: 20px;
}
.delete:hover{
  cursor: pointer;
}
.create_board_form{
  position: absolute;
  top:0;
  left:0;
}
.creation-form{
  display:flex;
  flex-direction: column;
}
.creation-form h3{
  color: #333;
  position: absolute;
  left: 20px;
}
.creation-submit{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: 900;
  border-radius: .4em;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: white;
  padding-top: 11.2px;
  padding-bottom: 11.2px;
  padding-left: 20.8px;
  padding-right: 20.8px;
  text-decoration: none;
  border: none;
}
.creation-input{
  padding-left: 10px;
  background-color: #e2e4e6;
  border: 1px solid #CDD2D4;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 35px;
  border-radius: 3px;
}
.creation-input:hover{

}
.creation-input:focus{
  border: 1px solid #318fca;
  background-color: white;
  box-shadow: 0 0 2px #298FCA;
}
.p{
  margin-left: 20px;
}
.list-container{
  margin-left: -30px;
  margin-top: 100px;
  display: flex;
  width: max-content;
  // flex-wrap: wrap;
}
.list-items{
  display: flex;
  background-color: #e2e4e6;
  width: 270px;
  min-height: 70px;
  margin-left: 10px;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 10px;
  word-break: break-all;
}
.list-items:hover{
  background-color: #CFCFCF;
  cursor: pointer;
}
.list-items:active{
  background-color: #B3B3B3;
}
