// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-items{
  background-color: #1367a2;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  list-style: none;
  color: white;
  margin: 20px 10px;
  display: flex;
  padding: 10px;
  // align-items: center;
  text-decoration: none;
}
.board-items a{
  text-decoration: none;
}
.board-index-div{
display: flex;
flex-wrap: wrap;
text-decoration: none;
justify-content: space-between;
text-align: center;
}
.board-index-outer{
  margin: 0 auto;
  clear: both;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
.create-board-items{
  background-color: grey !important;
}
li{
  list-style: none;
}
.create_board_form{
  background-color: white;
  color: black;
  width: 320px;
  height: 300px;
  left: 50px;
}
.dropdown-create{
  position:absolute;
  top: 0;
  left:0;
  margin-top: -18px;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    border: 1px solid #D6DADC;
}
.dropdown-create p{
  padding-left: 10px;
  padding-top: 10px;
}
.board-items-cont{
  background-color: #e2e4e6 !important;
  color: #838c91;
  position: relative;
}
