.landing-login{
  background-color: #026aa7;
  color: white;
  text-align: center;
  padding-top: 50px;
  height: 100%;
  height:100vh
}

#login-signup{
  background-color: #0079bf;
  height: 80px;

}
.landing-bar{
  display: flex;
}
