@import './landing.scss';
@import './login.scss';
@import './signup.scss';
@import './boards.scss';

body{
  font-family: Arial;
  // background-color: #237abf;
  // padding-top: 50px;
}

.main{
  height: 100vh;
}
.rename-list-button:focus{
  outline:none;
}
.delete-list-button:focus{
  outline:none;
}
.rename-list-button{
  background: #d7d9db;
  background-image: -webkit-linear-gradient(top, #d7d9db, #8e9294);
  background-image: -moz-linear-gradient(top, #d7d9db, #8e9294);
  background-image: -ms-linear-gradient(top, #d7d9db, #8e9294);
  background-image: -o-linear-gradient(top, #d7d9db, #8e9294);
  background-image: linear-gradient(to bottom, #d7d9db, #8e9294);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  height: 25px;
  min-width: max-content;
}
.delete-list-button{
  // background-color: linear-gradient(top, #eee, hotpink) !important;
  background: #d7d9db;
  background-image: -webkit-linear-gradient(top, #d7d9db, #8e9294);
  background-image: -moz-linear-gradient(top, #d7d9db, #8e9294);
  background-image: -ms-linear-gradient(top, #d7d9db, #8e9294);
  background-image: -o-linear-gradient(top, #d7d9db, #8e9294);
  background-image: linear-gradient(to bottom, #d7d9db, #8e9294);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  height: 25px;
  min-width: max-content;
}
.delete-list-button:hover{
  background-image: linear-gradient(to bottom, #f1b1b1, #c05151);
  text-decoration: none;
  cursor: pointer;
}
.rename-list-button:hover{
  background-image: linear-gradient(to bottom, #f1b1b1, #c05151);
  text-decoration: none;
}

.list-items{
  justify-content: space-between;
  max-height: min-content;
}
.rename-board-form{
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #d6dadc;
  color: #838c91;
  width: 320px;
  height: 300px;
}
.rename-list-form{
  position: relative;
  top: -90px;
  left: 10px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #d6dadc;
  color: #838c91;
  width: 320px;
  height: 300px;
}
.create-list-modal{
  position: relative;
  top: -50px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #d6dadc;
  color: #838c91;
  width: 320px;
  height: 300px;
}
#create-list-text{
    padding-left: 10px;
}
#create-list-text2{
    padding-left: 10px;
}
.edit-list-text{
  padding-left:10px;
}
.text-list{
  background-color: #e2e4e6;
  border: none;
  color: #757575;
}
.text-list:focus{
  background-color: white;
  border: 3px solid lightblue;
}
.cards{
  position: relative;
  left: -250px;
}
.card{
  position: relative;
  margin: 5px;
  width: 200px;
  top: 40px;
  height: 30px;
  background-color: white;
  border-radius: 4px;
}
