@import './landing.scss';
@import './login.scss';
@import './signup.scss';
@import './boards.scss';

body{
  font-family: Arial;
  // background-color: #237abf;
  // padding-top: 50px;
}

.main{
  height: 100vh;
}

.delete-list-button{
  margin-right: 10px;
  height: 10px;
}


.list-items{
  justify-content: space-between;;
}
