@import './landing.scss';
@import './login.scss';
@import './signup.scss';
@import './boards.scss';

body{
  font-family: Arial;
  background-color: #237abf;
}

.main{
  height: 100vh;
}

.delete-list-button{

  height: 10px;
}
