.navbar{
  background-color: #026aa7;
  color: white;
  margin: 0px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.dropdown{
  background-color: #f9f9f9;
  color: #444;
  box-shadow: 1px 1px 1px lightgrey;
  display: block;
  top: 35px;
  left: -250px;
  position: absolute;
  min-width: 300px;
  z-index: 100;
}
.dropdown li{
  list-style: none;
  border-top: 1px solid lightgrey;
  padding: 10px;
  margin-right: 50px;
}
.dropdown li:hover{
  background-color: #298FCA;
  color: white;
}

.dropdown-content:hover{
cursor: pointer;
}
.nav-image{
    background-image: image_url('Navbar.png');
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 110px;
    height: 40px;
    margin-top: 5px;
}
.dropdown-visible{
  display: flex;
  font-size: 10pt;
  font-weight: 700;
  background-color: #d6dadc;
  margin-right: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
  position: relative;
}
.dropdown-visible:hover{
  cursor: pointer;
}
.leftDown{
  background-color: #f9f9f9;
  color: #444;
  box-shadow: 1px 1px 1px lightgrey;
  display: block;
  top: 45px;
  left: 3px;
  position: absolute;
  min-width: 300px;
  z-index: 100;
}
.leftDown-visible{
  color: white;
  font-weight: 700;
  margin-left: 8px;
  background-color: #5297c1;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 16px;
}
.leftDown-visible:hover{
  background-color: #3a88b8;
  cursor: pointer;
}
.leftDown-visible:active{
  background-color: rgb(37, 121, 176);
}
